EXPO_PUBLIC_APPWRITE_ENDPOINT=""
EXPO_PUBLIC_APPWRITE_PROJECT_ID=""
EXPO_PUBLIC_APPWRITE_DATABASE_ID=""
EXPO_PUBLIC_APPWRITE_PLATFORM_ID="cc.cavia.app.stp.mobile"
EXPO_PUBLIC_APPWRITE_USER_PROFILE_COLLECTION_ID="user_profile"
EXPO_PUBLIC_APPWRITE_TRAINING_BALANCE_LEDGER_COLLECTION_ID="training_balance_ledger"
EXPO_PUBLIC_APPWRITE_TRAINING_SESSION_COLLECTION_ID="training_session"
EXPO_PUBLIC_APPWRITE_TRAINING_TRADE_LOG_COLLECTION_ID="training_trade_log"
EXPO_PUBLIC_APPWRITE_FN_WALLET_RECHARGE_ID="fn-wallet-recharge"
EXPO_PUBLIC_APPWRITE_FN_MEMBERSHIP_UPGRADE_ID="fn-membership-upgrade"
EXPO_PUBLIC_APPWRITE_FN_TRAINING_SESSION_CREATE_ID="fn-training-session-create"
EXPO_PUBLIC_APPWRITE_FN_TRAINING_ORDER_EXEC_ID="fn-training-order-exec"
EXPO_PUBLIC_APPWRITE_FN_TRAINING_SETTLEMENT_ID="fn-training-settlement"
